{% extends 'base.html.twig' %}
{% block title 'Tous nos biens'%}

{% block body %}
.<div class="container mt-4">
    <h1>Voir tous nos biens</h1>
    <p>Lorem Elsass ipsum Racing. porta Yo dû. amet météor in, Miss Dahlias mollis Pellentesque rossbolla sed id Morbi gewurztraminer s'guelt non varius barapli auctor, consectetur eleifend dolor rucksack sed hopla eget leverwurscht aliquam habitant baeckeoffe hopla tristique gal  knepfle libero. knack nullam yeuh. hopla hop Verdammi leo sit semper mänele libero, tellus placerat ac tchao bissame Richard Schirmeck risus, senectus flammekueche quam, purus geht's Spätzle wurscht ac schpeck merci vielmols Oberschaeffolsheim geïz elit jetz gehts los
    </p>
</div>


{% endblock %}